.places {
    margin-bottom: 92px;
    margin-top: 92px;
    margin-left: 148px;
    margin-right: 148px;
    max-width: 984px;
}

@media screen and (max-width: 1150px) {
    .places {
        margin-left: 48px;
        margin-right: 48px;
        max-width: 928px;
    }
} 

@media screen and (max-width: 1000px) {
    .places {
        margin-top: 88px;
        margin-bottom: 90px;
    }
} 

@media screen and (max-width: 800px) {
    .places {
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 674px) {
    .places {
        min-width: 320px;
        margin-left: 0;
        margin-right: 0;
    }
}

    
