.lead {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 0;
    min-width: 984px;
    box-sizing: border-box;
    margin-right: 148px;
    margin-left: 148px;
    

}

@media  screen and (max-width: 1150px) {
    .lead {
        min-width: 928px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .lead {
        min-width: 768px;
        margin-right: 0;
        margin-left: 0;
    }
}

@media screen and (max-width: 800px) {
    .lead {
        min-width: 320px;
    }
    
}