.lead {
    display: flex;
    flex-direction: column;
    margin-left: 148px;
    margin-right: 148px;
    margin-top: 0;
    min-width: 984px;
    min-height: 1005px;
    box-sizing: border-box;   
}

@media  screen and (max-width: 1150px) {
    .lead {
        min-width: 928px;
        min-height: 962px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 1000px) {
    .lead {
        min-height: 862px;
        min-width: 768px;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .lead {
        min-width: 320px;
        min-height: 406px;
        margin: 0;
    }
    
}