.lead__title {
    font-family: 'Inter';
    font-style: normal;
    min-height: 200px;
    width: 720px;
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-weight: 900;
    margin: auto;
    margin-bottom: 32px;
    margin-top: 0;
}

@media screen and (max-width: 737px) {
    .lead__title {
        min-height: 50px;
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
        width: 500px;
    }
}

@media screen and (max-width: 520px) {
    .lead__title {   
        width: 288px;
        min-height: 88px;
    }
}