.place__website-link {
    color: #fff;
    margin-top: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    opacity: 1;
    transition: 0.3s ease;
}

.place__website-link:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}
/*
@media screen and (max-width: 800px) {
    .place__website-link {
        font-size: 12px;
        line-height: 18px;
    }
}*/