.place {
    max-width: 100%;
    min-height: 434px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1150px) {
    .place {
        column-gap: 32px;
    }
} 

@media screen and (max-width: 1000px) {
    .place {
        margin-bottom: 73px;
        column-gap: 28px;
        row-gap:48px;
    }
} 

@media screen and (max-width: 675px) {
    .place {
        margin-bottom: 50px;
        grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
        grid-template-rows: auto;
        gap:32px;
    }
}