.place__website {
    align-self: end;
    height: 46px;
}

@media screen and (max-width: 674px) {
    .place__website {
        align-self: start;
        margin-bottom: 32px;
        min-width: 288px;
        margin-left: 16px;
        margin-top: 0;

    }
}
